
.reviewbox-container {
    position: relative;
    top: 10px;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%);
    min-height: 200px;
    width: 700px;
    /* padding: 50px; */
    
    z-index: 2;
    background-color: rgba(51, 51, 51, .71);
    border-radius: 20px;
    
    border: 2px solid green; 
    /* /* display: flex; 
    justify-content: center;
    align-items: center; */
}


ul li{
    list-style: none;
    align-items: center;
    margin: 5px 10%;
}
.reviewbox-container input,h3{
    height: 40px;
    border-radius: 10px;
    width: 70%;
    margin: 20px 60px;
    font-weight: 600;
    padding: 0 30px;
    margin-bottom: 20px;
    letter-spacing: 3px;
}
.reviewbox-container button {
    width: 30%;
    margin-right: 10px;
    background-color: rgb(67, 74, 77);
}
.btn-div {
    width: 100%;
    position: sticky;
    bottom: 10px;
    right: 10px;
    display: flex;
    justify-content: space-evenly;
}
