
.row-container {
    margin-left: 20px;
    margin-top: 10px;
    color: #fff;   
}
.first-part {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.first-part .name-div {
    /* background-color: rgb(35, 134, 79); */
    margin: 0 12px;
    height: 24px;
    width: 200px;
    overflow-x: hidden;
}
.name-div::-webkit-scrollbar{
    display: none;
}
.row-posters {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    overflow-x: scroll;
    overflow-y:hidden;
    /* flex-wrap: wrap; */
}
.row-posters::-webkit-scrollbar{
    display: none;
}
.movie-map {
    height:fit-content;
    text-align: center;
    /* background-color: yellow; */
}
.movie-map {
    height: 250px;
    width: 350px;
    /* background-size:contain ; */
    /* background-color: #fff; */
    /* border: 2px solid black; */
}

.poster {
    /* width: 100%; */
    /* overflow: hidden; */
    cursor: pointer;
    height: 250px;
    /* margin-right: 20px; */
}
.small-poster {
    /* width: 100%; */
    cursor: pointer;
    height: 150px;
    margin-right: 10px;
    background: rgb(144, 119, 119)
}
.poster:hover{
    transition:transform 610ms ease-in-out;
    transform: scale(.7);
}
.small-poster:hover{
    transition:transform 120ms ease-in-out;
    transform: scale(1.2);
}

span {
    padding: 2px 5px;
    border-radius: 8px;
    z-index: 1;
    /* margin-bottom: 10px; */
    position: relative;
    left: 10px;
    /* top: 10px; */
}
span.green {
    background-color: rgb(34, 208, 34);
}
span.orenge {
    background-color: rgb(231, 155, 14);
}
span.red {
    background-color: rgb(226, 32, 32);
}